p {
	font-family: Cambria Math;
	font-size: 25px;
}

a {
	text-decoration: none;
	color: black;
	font-family: Cambria Math;
	font-size: 25px;
}

h1 {
	text-align: center;
	font-family: Cambria Math;
}

#text {
	padding-top: 5px;
	padding-left: 25px;
	padding-right: 25px;
}

#information {
	float: clear;
	position: fixed;
	bottom: 9%;
	left: 35px;
}

#inputsLeft {
	float: left;
	margin-top: 100px;
	padding-left: 5%;
	width:45%;
	font-family: Cambria Math;
	font-size: 25px;
	text-align: left;	
}

#inputsRight {
	width: 45%;
	margin-top: 100px;
	padding-right: 5%;
	font-family: Cambria Math;
	font-size: 25px;
	text-align: right;	
	float: left;
}

#back {
	position: absolute;
	bottom: 0;
	left:0;
	text-align: center;
	width: 100%;
	height: 8%;
	background-color: #c0c0c0;
	display: table;
}

#back span {
	vertical-align:middle;
  	display: table-cell;
}

@media (max-width: 600px) {
	#inputsRight {
		font-size: 17px;
	}
	#inputsLeft {
		font-size: 17px;
	}
	p {
		font-size: 17px;
	}
}
@media (max-width: 400px) {
	#inputsRight {
		font-size: 13px;
	}
	#inputsLeft {
		font-size: 13px;
	}
	p {
		font-size: 13px;
	}
}